<!DOCTYPE>
<html>
<head>
  <meta charset="utf-8" />
  <script type="text/javascript" src="/js/lib/jquery-2.2.1.min.js"></script>
  <script type="text/javascript" src="/js/lib/bootstrap.min.js"></script>

  <link rel="stylesheet" href="/css/index.css">
  <link rel="stylesheet" 	href="/css/lib/bootstrap.min.css">
</head>
<script type="text/javascript">
$(document).ready(function() {
	$('#configure').css({
		'margin-left' : $('#configure').width() / (-2),
		'margin-top' : $('#configure').height() / (-2),
	});
	$('.configure-tab li').click(function(e){
		$('.tab').hide();
		$('.configure-tab li').removeClass('active');

		$(this).addClass('active');
    $(this).parent().parent().val($(this).val());

    $('#configureForm input[name=type]').val($(this).val());

    if($(this).val() == 1){
      $('.room').show();
    } else {
      $('.room').hide();
    }
	});

  $('#configureSubmit').click(function(){
    $('#configureForm').attr('action', '/canvas')
                       .attr('method', 'post')
                       .submit();
  });
});
</script>
<body>
	<div class="container">
		<div class="panel panel-default" id="configure" value="0">
			<ul class="nav nav-tabs configure-tab">
				<li role="presentation" class="active" value="0"><a><span class="glyphicon glyphicon-user"></span>Single</a></li>
				<li role="presentation" value="1"><a><span class="glyphicon glyphicon-globe"></span>Party</a></li>
			</ul>
			<div class="panel-body">
				<form id="configureForm" class="form-horizontal">
          <input type="hidden" name="type" value="0"/>
          <input type="hidden" name="roomNo" value="<%=roomNo %>"/>
					<div class="form-group">
						<label for="" class="col-sm-4 control-label">Canvas size</label>
						<div class="col-sm-8">
							<input type="text" class="form-control configure-size" name="width">
							<span>x</span>
							<input type="text" class="form-control configure-size" name="height">
						</div>
					</div>
					<div class="form-group room" style="display:none">
						<label for="" class="col-sm-4 control-label">Maximum drawing</label>
						<div class="col-sm-8">
							<select class="form-control configure-person" name="person">
								<option>2</option>
								<option>3</option>
								<option>4</option>
							</select>
						</div>
					</div>
				</form>
			</div>
			<div class="panel-footer text-right">
				<button class="btn btn-primary" type="submit" id="configureSubmit">Start</button>
			</div>
		</div>
	</div>

</body>
</html>
