

<div class="part-canvas" style="display:none;">
  	<div class="container">
  		<div class="canvasDiv" id="canvasDiv"></div>
  	</div>
  </div>



  <div id="chat" class="panel panel-default resizable draggable">
    <div class="panel-heading">
      <span class="glyphicon glyphicon-user"></span> Chat(2명)
    </div>
    <div class="chat-msg list-group">
      <a href="#" class="list-group-item">
        <span class="chat-msg-name">사용자:</span>
        <span class="chat-msg-txt">asdf</span>
      </a>
    </div>
    <div class="chat-menu panel-footer input-group">
        <input type="text" id="chatMsg" class="form-control" placeholder="메세지를 입력하세요">
        <span class="input-group-btn">
          <button class="btn btn-primary" type="button">전송</button>
        </span>
      </div>
  </div>
  <% }%>

	</script>
