<!--
			<div id="layers" class="panel panel-default resizable draggable">
				<div class="panel-heading">
					<span class="glyphicon glyphicon-duplicate"></span> Layer
				</div>
				<div class="layer-list list-group">
					<a href="#" class="list-group-item active">
						<span class="layer-list-view"></span>
						<span class="layer-list-name">asdf</span>
					</a>
					<a href="#" class="list-group-item">
						<span class="layer-list-view"></span> <span class="layer-list-name">asdf</span>
					</a>
				</div>
				<div class="layer-menu panel-footer">
					<button type="button" class="btn btn-default btn-sm">
						<span class="glyphicon glyphicon-plus"></span>
					</button>
					<button type="button" class="btn btn-default btn-sm">
						<span class="glyphicon glyphicon-minus"></span>
					</button>
				</div>
			</div>
		</div>
		-->
